a {
	color: blue;
}
a {
	color: blue;
}
a
{color:blue;
}

body{color:blue;}li{color:red;}

ul
{
border-radius: 0px;
}

ol, div, span {
	width: 300px;
}

body > div{
	text-align: center;
}.right{text-align: right}

body + div {
	color:green;
}

body ~ div {
	color: blue;
}

body div {
	color:      orange;
}

@media {
	color: red;}
/*



useless comment

*/

body {
	/*text-align:center*/
}

/*
object {
	height: 100px;
}
*/

#bob{vertical-align: inherit;}

ol > div#bob > span.div {
	color: green;
}

a:hover {
color: green;
}

p::first-letter {
	font-size: 10px;
}

a[target="_blank"]{background-color: yellow}

[title~="flower"]{color:blue;}

[class|="top"] {
	color:yellow;
}
[class$="top"] {
	color:yellow;
}
[class^="top"] {
	color:yellow;
}
[class*="top"] {
	color:yellow;
}